@use "sass:color";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

@font-face {
    font-family: "Schoolboek";
    src: url("@/assets/Schoolboek-Regular.woff") format("woff");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Schoolboek", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal;
}

ul, ol {
    padding: revert;
}

a:link {
    color: #000;
    text-decoration: underline;

    &:hover {
        color: #000;
        text-decoration: none;
    }

    &:active {
        color: #000;
    }
}

// Awesome font icons
i.fa {
    font-size: 1.3rem;
}

$galahad-theme: #62b6ff;

:root:root {
    // INT theme colors
    //blue
    --int-blue: #359ff0;
    --int-blue-hover: #1188e4;
    //yellow
    --int-yellow: #fff064;
    --int-yellow-lighter: #fff7ad;
    --int-yellow-hover: #ffeb33;
    --int-yellow-active: #d5c000;
    --int-yellow-outline: #ffe100; // custom; a bit darker than huisstijl yellow-outline
    // red
    --int-red: #e8503d;
    --int-red-hover: #dd442f; // custom
    --int-red-active: #d72f19; // made original hover into active
    //orange
    --int-orange: #ff8000;
    --int-orange-hover: #df7000;
    --int-orange-active: #cc6600; // made original hover into active
    //green
    --int-green: #89c24b;
    --int-green-hover: #79b246;
    --int-green-active: #6fa338; // made original hover into active
    // INT monochrome
    --black: black;
    --int-very-light-grey: #f3f3f3;
    --int-very-light-grey-hover: #d9d9d9;
    --int-light-grey: #cccdcc;
    --int-light-grey-hover: #b2b3b2;
    --int-grey: #a4a5a8;
    --int-grey-hover: #8a8b8f;
    --white: white;
    // Current Theme
    --int-theme: #{$galahad-theme};
    --int-theme-lighter: #{color.adjust($galahad-theme, $lightness: 10%)};
    --int-theme-hover: #{color.adjust($galahad-theme, $lightness: -7%)};
    --int-theme-active: #{color.adjust($galahad-theme, $lightness: -20%)};
    --int-theme-outline: #{color.adjust($galahad-theme, $lightness: -15%)};
    // primevue overrides
    --p-multiselect-background: rgb(233, 233, 237);
    --p-multiselect-border-radius: 0;
    --p-primary-color: #{$galahad-theme};
    --p-checkbox-icon-checked-color: black;
    --p-checkbox-border-radius: 0;
    --p-highlight-background: var(--int-theme-lighter);
}

// primevue overrides
.p-multiselect-header {
    border-bottom: 1px solid var(--int-light-grey);
}

.p-multiselect-header::after {
    content: "select all";
}

:root .p-multiselect {
    border: none;

    &:hover {
        background-color: var(--int-very-light-grey-hover);
    }
}
